body {
  margin:0px;
}

header {
  color: black;
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../images/customer1.jpeg');
  background-size: cover;
  background-position: center;
  height: 800px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header h1 {
  max-width: 780px;
  font-family: 'Montserrat';
  text-align: center;
  font-weight: normal;
  font-size: 72px;
  color:white;
  margin-top: 0px;
  margin: 10px;
 /* z-index: 1;*/
}

.sub {
  max-width: 780px;
  margin-top: 0px;
  font-family: 'Montserrat';
  text-align: center;
  font-weight: normal;
  font-size: 24px;
  color:white;
}

#top{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mailinput{
  margin-top: 60px;
  height: 40px;
  font-size: 20px;
  font-color:grey;
  border-radius: 13px;
  margin-bottom: 0px;
  text-align: center;
  font-style: italic;
}

#btn {
  /*-webkit-border-radius: 13;*/
 /* -moz-border-radius: 0;*/
  border-radius: 13px;
  border-color: none;
  border-width: 0px;
  font-family: Montserrat;
  color: #ffffff;
  font-size: 30px;
  background: #d93434;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 0px;
  align-items: center;
  justify-content: center;
  display: flex;
}

#btn:hover {
  background: #fc3c3c;
  text-decoration: none;

}

